<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.bunny.net">
		<link rel="stylesheet" href="https://fonts.bunny.net/css?family=inter:400,700&display=swap">
		<link rel="stylesheet" href="/assets/base.css">
		<title>Helix Launcher - {{ title }}</title>
	</head>

	<body>
		<header>
			<h1 class="navbar-title">Helix Launcher</h1>

			{%- for entry in search.pages("menu.visible=true", "menu.order") %}
				<a class="navbar-links" href="/{{ entry.data.url }}" {% if entry.data.url==url %} aria-current="page" {% endif %}>
					{{ entry.data.menu.title or entry.data.title }}
				</a>
			{%- endfor %}
		</header>
		<hr>

		<main>
			<h1>{{ title }}</h1>

			{{ content | safe }}
		</main>

		<hr>
		<footer>
			<p>Helix Launcher is managed and maintained by <a href="https://github.com/HelixLauncher">HelixLauncher</a></p>
		</footer>
	</body>
</html>
